/*

	Provérbios 22
	6 ("Educa a criança no caminho em que deve andar; e até quando envelhecer não se desviará dele")

*/

* {
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
}

html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	height: 100%;
}

body {
	min-height: 100%;
	height: 100%;
	overflow-x: hidden;
	position: relative;
}

iframe {
	display: block;
	border: none;
	width: 100%;
}

a {
	text-decoration: none;
	transition: 0.1s all ease-in;
}

ul li {
    list-style-type: none;
}

article, aside, details,
figcaption, figure, footer,
header, hgroup, main,
menu, nav, section, summary {
	display: block;
}


audio, canvas, progress, video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]){
	display: none;
	height: 0;
}

[hidden], template{
	display: none;
}

b, strong {
	font-weight: bold;
}

sub, sup {
	font-size: 75%;
	line-height: 0;
	position:  relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

small {
	position: relative;
}

svg:not(:root){
	overflow: hidden;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td, th {
	padding: 0;
}


textarea,
select,
input,
button {
	font-size: inherit;
	font-family: inherit;
	width: 100%;
	border: none;
	background: transparent;
}

textarea {
	resize: none;
}

button,
input[type="submit"] {
	cursor: pointer;
	width: auto;
}

.section, .box {
	display: block;
	position: relative;
}

.box-left {
	float: left;
}

.box-right {
	float: right;
}

.section {
	clear: both;
	float: left;
	width: 100%;
}

// @Section: Responsive Grid
// Baseado no Twitter Bootstrap 3.5

$break_sm: 768px;
$break_md: 992px;
$break_lg: 1200px;

.container {
	margin-right: auto;
	margin-left: auto;
	position: relative;
	display: block;
	@media (min-width: $break_sm){ width: 750px; }
	@media (min-width: $break_md){ width: 970px; }
	@media (min-width: $break_lg){ width: 1170px; }
}

.container:not(.container-row) {
	padding-left: 15px;
	padding-right: 15px;
}

.row {
	margin-right: -15px;
	margin-left: -15px;
}

[class^="col-xs-"], [class*="col-xs-"],
[class^="col-sm-"], [class*="col-sm-"],
[class^="col-md-"], [class*="col-md-"],
[class^="col-lg-"], [class*="col-lg-"]{
	position: relative;
	min-height: 1px;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}

.row-padding {
	[class^="col-xs-"], [class*="col-xs-"],
	[class^="col-sm-"], [class*="col-sm-"],
	[class^="col-md-"], [class*="col-md-"],
	[class^="col-lg-"], [class*="col-lg-"]{
		padding-left: 0;
		padding-right: 0;
	}
}

@for $col from 1 through 12 {
	.col-xs-#{$col}{ width: percentage($col/12); }
	.col-xs-pull-#{$col} { right: percentage($col / 12); }
	.col-xs-pull-#{$col} { left: percentage($col / 12); }
	.col-xs-offset-#{$col} { margin-left: percentage($col / 12); }
}

@media (min-width: $break_sm){
	@for $col from 1 through 12 {
		.col-sm-#{$col}{ width: percentage($col/12); }
		.col-sm-pull-#{$col} { right: percentage($col / 12); }
		.col-sm-pull-#{$col} { left: percentage($col / 12); }
		.col-sm-offset-#{$col} { margin-left: percentage($col / 12); }
	}
}

@media (min-width: $break_md){
	@for $col from 1 through 12 {
		.col-md-#{$col}{ width: percentage($col/12); }
		.col-md-pull-#{$col} { right: percentage($col / 12); }
		.col-md-pull-#{$col} { left: percentage($col / 12); }
		.col-md-offset-#{$col} { margin-left: percentage($col / 12); }
	}
}

@media (min-width: $break_lg){
	@for $col from 1 through 12 {
		.col-lg-#{$col}{ width: percentage($col/12); }
		.col-lg-pull-#{$col} { right: percentage($col / 12); }
		.col-lg-pull-#{$col} { left: percentage($col / 12); }
		.col-lg-offset-#{$col} { margin-left: percentage($col / 12); }
	}
}


// @Section: Utils layout
// Utilidades direcionadas a diagramação do layout, requer o grid do Bootstrap

.w-full {
	width: 100%;
}

.h-full {
	height: 100%;
}

.w-half {
	width: 50%;
}

.glutter {
	padding-right: 15px;
	padding-left: 15px;
}

.inner {
	padding: 15px;
}

.inner-m {
	padding: 30px;
}

.hidden,
.hide {
  display: none;
}

.hidden-xs {
	display: none;
	@media (min-width: $break_sm){ display: block; }
}

.hidden-sm {
	@media (min-width: $break_sm){ display: none; }
	@media (min-width: $break_md){ display: block; }
}

.hidden-md {
	@media (min-width: $break_md){ display: none; }
	@media (min-width: $break_lg){ display: block; }
}

.hidden-lg {
	@media (min-width: $break_lg){ display: none; }
}

.bold {
    font-weight: bold;
}
.normal {
    font-weight: normal;
}
.font-300 {
     font-weight: 300;
}
.font-500 {
     font-weight: 500;
}
.font-700 {
     font-weight: 700;
}

.h-menu li{
    display: inline-block;
}

.h-menu li a {
	display: block;
}

.v-middle-md {
    @media (min-width: $break_sm){
        display: table-cell;
        vertical-align: middle;
    }
}

.button {
    display: inline-block !important;
    cursor: pointer;
}

.mirror-x {
    transform: scale(-1, 1);
}

.mirror-y {
    transform: scale(1, -1);
}

.on-right {
	float: right;
}

.on-left {
	float: left;
}

.sm-space-between-2-cols {
	.col-sm-6:nth-child(1) { padding-right: 30px; }
	.col-sm-6:nth-child(2) { padding-left: 30px; }
}