.app-hold {
  background: #f1f1f1;
  font-family: "Roboto", sans-serif;
}
.catedral-radio {
  position: fixed;
  width: 100%;
  background: #2a1c36;
  bottom: 0;
  left: 0;
  padding: 15px;
}
.catedral-radio-header {
  margin-bottom: 20px;
}
.catedral-radio-logo,
.catedral-radio-info {
  display: block;
  float: left;
}
.catedral-radio-logo {
  width: 20%;
}
.catedral-radio-logo img {
  width: 100%;
}
.catedral-radio-info {
  width: 80%;
  padding-left: 15px;
  color: #fff;
  padding-top: 3%;
}
.catedral-radio-live {
  opacity: 0.4;
}
.catedral-radio-title {
  margin-bottom: 5px;
}
.catedral-radio-volume {
  margin-bottom: 20px;
}
.catedral-radio-volume-bar {
  position: relative;
  height: 8px;
  background: rgba(219,219,234,0.3);
  width: calc(100% - 30px);
  border-radius: 6px;
  left: 15px;
}
.catedral-radio-volume-bar-container {
  width: calc(100% + 30px);
  left: -15px;
}
.catedral-radio-volume-drag {
  top: 50%;
  height: 20px;
  width: 20px;
  background: #dbdbea;
  border-radius: 100%;
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
}
.catedral-radio-volume-drag i {
  font-size: 13px;
  width: 100%;
  text-align: center;
  opacity: 0.58;
}
.catedral-radio-volume-drag-container {
  height: 30px;
  width: 50px;
  display: block;
  position: absolute;
  top: -10px;
  left: 80%;
}
.catedral-radio-control-small {
  height: 30px;
  width: 30px;
}
.catedral-radio-control-small i.fa.fa-stop:before {
  position: relative;
  top: 1px;
}
.catedral-radio-control-big {
  height: 56px;
  width: 56px;
}
.catedral-radio-control-big i {
  font-size: 32px;
}
.catedral-radio-control-big i:before {
  left: 2px;
  position: relative;
  top: 1px;
}
.catedral-radio-control-big,
.catedral-radio-control-small {
  background: #dbdbea;
  display: inline-block;
  border-radius: 100%;
  margin: 0 5px;
  position: relative;
  top: 0;
  transition: 0.2s all linear;
}
.catedral-radio-control-big:active,
.catedral-radio-control-small:active {
  top: 2px;
}
.catedral-radio-control-big i,
.catedral-radio-control-small i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.catedral-radio-control {
  height: 56px;
  text-align: center;
}
.catedral-radio-control-small {
  top: -13px;
  position: relative;
}
.catedral-radio-control-small:active {
  top: -11px;
}

	@keyframes sound {
		0% {
			opacity: .35;
			height: 0%;
		}
		100% {
			opacity: 1;
			height: 100%;
		}
	}
.radioIsPlaying .catedral-radio-animate-target[data-level="1"] {
  height: 5%;
  animation-duration: 674ms;
}
.radioIsPlaying .catedral-radio-animate-target[data-level="2"] {
  height: 10%;
  animation-duration: 634ms;
}
.radioIsPlaying .catedral-radio-animate-target[data-level="3"] {
  height: 15%;
  animation-duration: 627ms;
}
.radioIsPlaying .catedral-radio-animate-target[data-level="4"] {
  height: 20%;
  animation-duration: 718ms;
}
.radioIsPlaying .catedral-radio-animate-target[data-level="5"] {
  height: 25%;
  animation-duration: 692ms;
}
.radioIsPlaying .catedral-radio-animate-target[data-level="6"] {
  height: 30%;
  animation-duration: 732ms;
}
.radioIsPlaying .catedral-radio-animate-target[data-level="7"] {
  height: 35%;
  animation-duration: 679ms;
}
.radioIsPlaying .catedral-radio-animate-target[data-level="8"] {
  height: 40%;
  animation-duration: 663ms;
}
.radioIsPlaying .catedral-radio-animate-target[data-level="9"] {
  height: 45%;
  animation-duration: 636ms;
}
.radioIsPlaying .catedral-radio-animate-target[data-level="10"] {
  height: 50%;
  animation-duration: 681ms;
}
.radioIsPlaying .catedral-radio-animate-target[data-level="11"] {
  height: 55.00000000000001%;
  animation-duration: 655ms;
}
.radioIsPlaying .catedral-radio-animate-target[data-level="12"] {
  height: 60%;
  animation-duration: 741ms;
}
.radioIsPlaying .catedral-radio-animate-target[data-level="13"] {
  height: 65%;
  animation-duration: 603ms;
}
.radioIsPlaying .catedral-radio-animate-target[data-level="14"] {
  height: 70%;
  animation-duration: 679ms;
}
.radioIsPlaying .catedral-radio-animate-target[data-level="15"] {
  height: 75%;
  animation-duration: 692ms;
}
.radioIsPlaying .catedral-radio-animate-target[data-level="16"] {
  height: 80%;
  animation-duration: 602ms;
}
.radioIsPlaying .catedral-radio-animate-target[data-level="17"] {
  height: 85%;
  animation-duration: 705ms;
}
.radioIsPlaying .catedral-radio-animate-target[data-level="18"] {
  height: 90%;
  animation-duration: 652ms;
}
.radioIsPlaying .catedral-radio-animate-target[data-level="19"] {
  height: 95%;
  animation-duration: 735ms;
}
.radioIsPlaying .catedral-radio-animate-target[data-level="20"] {
  height: 100%;
  animation-duration: 743ms;
}
.catedral-radio-animate {
  position: absolute;
  width: 100%;
  height: 70%;
  left: 0;
  bottom: 0;
  transform: scale(1, -1);
  opacity: 0.03;
  pointer-events: none;
}
.catedral-radio-animate-target {
  width: 5%;
  float: left;
  background: #f1f1f1;
  height: 2%;
}
.radioIsPlaying .catedral-radio-animate-target {
  animation: sound 0ms -800ms linear infinite alternate;
}
