size($w, $h = false)
	if($h == false)
		height $w
	else
		height $h
	width $w

$textCenter
	text-align center

$textRight
	text-align right

$textLeft
	text-align left

$transition01
	transition 0.2s all linear

$transition02
	transition 0.2s all linear

$transition03
	transition 0.3s all linear
